
mixin modal() 
	 
	// modal
	

	
  
						
 
	
	#modal-win.modal.fade(tabindex='-1', role='dialog', aria-labelledby='"modal-win', aria-hidden='true')
		.modal-dialog.modal-dialog-centered
			+form-wrap()( class=" modal-win modal-form    modal-content" role='document')
				button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
				+e.head 
					.h5.title-js Пройти консультацию
						br
						| у Рябинской Оксаны Сергеевны
				+e.body
					+input("tel","Введите ваш телефон")(name="tel" required) 
						.small Телефон нужен, чтобы договориться о времени записи
					+e.h4.h5 Когда вам перезвонить?
					+b.LABEL.custom-input.h5
						+e.INPUT.input.__input-radio(type="radio" name="time"  required value="В течение 30 минут")
						+e.SPAN.lab.__lab-radio
						| В течение 30 минут
					+b.LABEL.custom-input.h5
						+e.INPUT.input.__input-radio(type="radio" name="time" required value="С 9-00 до 12-00")
						+e.SPAN.lab.__lab-radio
						| С 9-00 до 12-00
					+b.LABEL.custom-input.h5
						+e.INPUT.input.__input-radio(type="radio" name="time" required value="С 12-00 до 18-00")
						+e.SPAN.lab.__lab-radio
						| С 12-00 до 18-00
					+polite()
					+e.BUTTON.btn.btn.btn-primary Записаться на прием
	// modal

	#thanks.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanks', aria-hidden='true')
		+b.form-wrap.modal-win.modal-form.text-center( class=" modal-win modal-form  modal-dialog   modal-content" role='document')
			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  × 
			+e.head 
				.h5.strong.py-3  Спасибо, мы получили Ваш телефон.
			br
			.h4.strong.py-3 Будем рады помочь!
			p Перезвоним 
				span.time-call через 30 минут
				|,
				| как Вы просили.
			br 
			+e.foot
				img.res-i.lazy(src="#" data-src="img/thanks-img.jpg", alt="")

	#exampleModal2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel2', aria-hidden='true')
		+b.modal-text.modal-dialog.modal-win.modal-win.modal-content(role='document')
			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
			.h2 Пользовательское соглашение
			
			p Я согласен(а) с условиями политики конфиденциальности и разрешаю использовать мои персональные данные на законных основаниях.
			.h3.strong Персональные данные
			p На виконання вимог Закону України "Про захист персональних даних" даю згоду на обробку моїх персональних даних з метою забезпечення реалізації цивільно-правових відносин.
			p Ми цінуємо Ваше право на особисте життя та нерозголошення Вашої персональної інформації. Ця Політика конфіденційності - правило, яким користуються всі співробітники нашого сервісу, та регламентує збір і використання особистої інформації, яка може бути запрошена/отримана при відвідуванні нашого веб-сайту http://institutven.com.ua, при використанні сервісу, при замовленні, листуванні або телефонній розмові. Якщо у Вас виникнуть питання або проблеми у зв’язку з конфіденційністю, надсилайте, будь ласка, свої питання або зауваження на електронну адресу: 
				a(href="mailto:institutven@gmail.com") institutven@gmail.com
			.h3.strong Яку інформацію ми збираємо
			p На нашому сайті, в разі, коли Ви робите замовлення, берете учать в акції, дослідженнях або іншим чином взаємодієте з нами, ми збираємо як особисту інформацію, так і загальні дані.
			p Особиста інформація стосується окремого споживача - приміром, ім'я, адреса, номер телефону, e-mail, тощо. Такі дані ми отримуємо лише від осіб, які надають її свідомо та з власного бажання. Наприклад, зареєструвавшись на нашому сайті, або вказуючи ім'я та адресу із запитом на отримання подальшої інформації від нас. Ми не вимагаємо реєстрації або надання такої інформації для перегляду нашого сайту та отримання доступу до його змісту.
			p Для того щоб зробити замовлення товарів/послуг, брати участь у акціях, дослідженнях або іншим чином взаємодіяти з нами, Ви повинні уважно ознайомитися з Вашими правами та обов’язками щодо обробки персональних даних, які зазначені в ст. 8 З.У. «Про захист персональних даних» , уважно ознайомитися з даною Політикою конфіденційності, а також висловити свою повну згоду з їх умовами.
			p Якщо Ви не погоджуєтеся з будь-якою з умов даної Політики конфіденційності та вищезазначеного Положення про захист персональних даних, будь ласка, не надавайте особисту інформацію.
			p Згоду на використання Вашої особистої інформації Ви можете відкликати в будь-який момент. Для цього достатньо надіслати повідомлення електронною поштою, з поміткою в темі листа «Персональні дані», за адресою: 
				a(href="mailto:institutven@gmail.com") institutven@gmail.com
			.h3.strong Чому ми обробляємо персональні дані
			p Персональні дані - відомості чи сукупність відомостей про фізичну особу, яка ідентифікована або може бути конкретно ідентифікована.
			p Ми можемо обробляти Ваші персональні дані для наступних цілей. При цьому одночасно можуть застосовуватися одна або кілька цілей.
			p Отримання замовлення. Ми можемо використовувати Ваші персональні дані для отримання замовлення, яке Ви зробили, для обробки Ваших запитів, або для інших цілей, які можуть існувати для досягнення кінцевої мети – задовольнити інтереси споживача, а також для запобігання та розслідування випадків шахрайства та інших зловживань.
			p Спілкування з Вами. Ми можемо використовувати Ваші персональні дані для зв'язку з Вами, наприклад повідомити Вас про зміну наших послуг або надіслати Вам важливі повідомлення та інші подібні повідомлення, що стосуються замовлення, що було Вами зроблено та зв'язатися з Вами в цілях, пов’язаних з обслуговуванням споживача/клієнта.
			p Ми діємо відповідно до цієї Політики конфіденційності, на підставі Положення про обробку і захист персональних даних та на підставі чинного законодавства України. Володільцем персональних даних є ТОВ «Iнстiтут Вен», що знаходиться за адресою : м. Харкiв, вул. Ярослава Мудрого , буд. 37. Ми маємо право зберігати Персональні дані стільки, скільки необхідно для реалізації мети, що зазначена у даній Політиці конфіденційності або у строки, встановлені чинним законодавством України або до моменту видалення Вами цих даних.
			.h3.strong Як збираємо інформацію
			p Особиста інформація, як ми зазначили вище, надходить безпосередньо від Вас, та з Вашого відома. Так, коли Ви реєструєтеся на сайті, ми отримуємо надану Вами інформацію. Коли Ви реєструєтеся в промо-акції, ми збираємо інформацію, необхідну для Вашої участі, аби виконати наші зобов'язання перед Вами. Коли Ви здійснюєте замовлення товару, ми збираємо вказану Вами інформацію, щоб мати змогу оформити замовлення та доставити його Вам. Коли Ви надсилаєте нам електронного листа, ми зберігаємо вказану Вами адресу електронної пошти, щоб мати змогу відповісти.
			p Також ми постійно збираємо загальну інформацію, коли Ви заходите на наш веб-сайт. Процес збору таких даних відбувається з допомогою технологій cookies, як пояснюється нижче.
			.h3.strong Cookies
			p Як і багато інших компаній, ми використовуємо технологію cookies на нашому сайті та поза його межами. Cookies - це уривки інформації, які веб-сайт передає на жорсткий диск споживача для зберігання інформації, пов’язаної з веб-сайтом. Ця технологія розширює Ваші можливості використання інтернету, зберігаючи Ваші пріоритети під час перегляду певного сайту. Технологія cookies не містить особистої інформації і не може жодним чином налаштовувати Вашу систему або зчитувати інформацію з Вашого жорсткого диска.
			p Під час перегляду нашого веб-сайту ми можемо розмістити cookies на Вашому комп'ютері. Такі тимчасові cookies використовують для підрахунку кількості візитів на наш сайт. Вони видаляються, коли Ви виходите з браузера. Постійні cookies можуть зберігатися на Вашому комп'ютері Вашим браузером. Під час реєстрації цей тип cookies повідомляє: вперше Ви до нас завітали чи заходили на наш сайт раніше. Cookie не містять Персональних даних і можуть бути заблоковані Вами у будь-який момент. Сookies не отримують особистої інформації про Вас та не надають нам Вашої контактної інформації, а також не отримують жодної інформації з Вашого комп'ютера. Ми використовуємо cookies для визначення характеристик сайту та пропозицій, які Вам найбільше подобаються з метою надання Вам більше інформації, в якій Ви зацікавлені. Крім того, файли cookie використовуються, щоб зробити веб-сайт http://institutven.com.ua безпечним, захищеним і зручним. Файли cookie забезпечують підтримку функцій безпеки та їх запуск. Файли cookie також дозволяють відстежувати порушення ПОЛІТИКИ КОНФІДЕНЦІЙНОСТІ відвідувачами або пристроями. Файли cookie допомагають оцінити кількість і частоту запитів, а також виявляти і блокувати тих відвідувачів або пристрої, які намагаються виконати пакетні завантаження інформації з веб-сайту.
			p Ярлик "help" на панелі більшості браузерів проінформує Вас як заборонити браузеру приймати нові cookies, як отримувати повідомлення від браузера, що Ви отримали нові cookies, або як відключити cookies. Пам'ятайте, що cookies дозволяють Вам повною мірою користуватися всіма можливостями веб-сайту http://institutven.com.ua, і ми рекомендуємо Вам залишати їх ввімкненими.
			p Крім того, веб-сайт http://@institutven.com.ua може містити посилання на сайти, які не управляються ТОВ "Iнстiтут Вен ". Такі посилання наведені виключно для інформаційних цілей.
			p Технічне оснащення сторінок сайту http://institutven.com.ua може включати в себе модулі:
			ul
				li Соціальної мережі Facebook (facebook.com), управління якої відбувається зі штаб-квартири компанії Facebook Inc , Facebook   li Corporate Office, який знаходиться за адресою: Headquarters 1601 S. California Ave . Palo Alto , CA 94304 , USA, телефон:   li +1 (650 ) 543-4800
				li Інформаційної мережі Twitter (twitter.com), управління якою здійснюється з офісу компанії Twitter , Inc., який знаходиться  li за адресою: 1355 Market St, Suite 900 San Francisco, CA 94103, USA, телефон: +1 ( 415 ) 222-9958;
				li Соціального форуму Youtube (youtube.com) , управління яким здійснюється з офісу компанії YouTube, LLC, який знаходиться за  li адресою: 901 Cherry Ave., San Bruno, CA 94066, USA, телефон: +1 (650 ) 253-0000
				li Соціальної мережі "ВКонтакте" (vk.com), управління якою здійснюється з офісу ТОВ "В Контакті", який знаходиться за  li адресою: вул. Тверська , буд. 8, літ. Б, м. Санкт -Петербург, 191015, Росія.
				li Соціальної мережі Google+ (http://www.google.com/intl/ru/+/learnmore/better/), управління якою здійснюється з офісу компанії 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA, телефон: +1 ( 650 ) 253-0000.
			p Ці модулі можуть бути кнопками синхронізації аккаунту на веб-сайті http://institutven.com.ua , Like, ретвітнути або відповідно "Мені подобається". Якщо відвідувач відкривав одну з веб-сторінок, оснащену таким плагіном, його інтернет-браузер безпосередньо підключить його до серверів Facebook, Twitter, LinkedIn, ВКонтакте, Google+ або Youtube. Плагін буде передавати на сервер дані про те, які саме веб-сторінки веб-сайту http://institutven.com.ua відвідувач переглядав. При використанні будь-яких функцій плагіну, ця інформація також буде синхронізована з обліковим записом відвідувача на Facebook, Twitter, ВКонтакте, Google+ або Youtube. Більш детальну інформацію про збір і використання даних мережами Facebook, Twitter, ВКонтакте, Google+ або Youtube, а також про права і можливості щодо захисту персональних даних в даному контексті можна знайти в розділі про конфіденційність на сайтах Facebook, Twitter, LinkedIn, ВКонтакте, Google+ або Youtube
			.h3.strong Конкурси та акції
			p Наш сайт іноді розміщує повідомлення про наші промо-акції, й іноді ми можемо дозволити Вам зареєструватися онлайн. У таких випадках ми використаємо надану Вами інформацію, щоб провести акцію (наприклад, повідомити Вас у разі виграшу). Через певний час після закінчення промо-акції особисту інформацію ми видаляємо із нашої бази даних, якщо Ви не надали згоди на її збереження та використання для отримання подальшої інформації від нас. Беручи участь в акції ви надаєте однозначну згоду на безкоштовне використання вашого імені, прізвища, фотографії, інтерв’ю або інших матеріалів про вас з рекламною метою, у тому числі право публікації вашого імені та фотографії у засобах масової інформації, будь-яких друкованих, аудіо- та відеоматеріалах, інтерв’ю зі ЗМІ. Таке використання не компенсується (не оплачується).
			.h3.strong Розголошення та передача даних
			p Ми не продаємо, не передаємо та не розголошуємо особисту інформацію, яку отримуємо на нашому сайті, третім сторонам без Вашої попередньої згоди. Ми розкриваємо особисту інформацію лише у випадках визначених чинним законодавством України, а також:
			ol
				li Ми розкриємо інформацію в випадку запобігання злочину або завдання шкоди нам або третім особам;
				li Ми розкриємо інформацію третім особам, що надають нам підтримку та послуги за допомогою яких Ви отримуєте Ваше замовлення.
			p Може статися, що ми надамо загальну інформацію про наших відвідувачів (наприклад, відсоток відвідувачів сайту жіночої та чоловічої статі) рекламним агенціям, бізнес партнерам, спонсорам та іншим третім сторонам, щоб налаштувати або розширити зміст і рекламу на нашому сайті для наших споживачів. Ми також можемо збирати дані з файлів веб-реєстрації (таких як Ваш веб-браузер, операційна система, відвідані сторінки тощо), щоб зрозуміти, як відвідувачі подорожують сайтом, та які його сторони є найпопулярнішими.
			.h3.strong Оновлення цього попередження
			p Ми можемо в односторонньому порядку змінювати або оновлювати частини цієї політики в будь-який час, без попереднього повідомлення. Будь-ласка, час від часу переглядайте Політику конфіденційності, щоб знати про її зміни та оновлення. Усі зміни до цієї Політики конфіденційності набувають чинності з моменту їх публікації. Коли ви робите замовлення, берете учать в акції, дослідженнях або іншим чином взаємодієте з нами, ви погоджуєтесь з новими умовами Політики конфіденційності в редакції, що діє на цей момент. У випадку визнання недійсною або нездійсненною будь-якої частини даної Політики конфіденційності, інші її частини будуть залишатися чинними.
			 
	// modal