.s-qualification {
	background-position: top center;
	background-size: contain;
	&.lazy-background.visible{
	background-image: url(../img/light-bg.jpg);
}
	&__item{
		display: flex;
		color: $info;
		@include media-breakpoint-up(lg) {

			width: 250px;
		}
		margin-bottom: 50px;
		img{
			flex-shrink: 0;
			// margin-right: 10px;
		}
		.fw-900.h2{
				text-transform: uppercase;
				padding-top: 30px;
				margin-bottom: 0;
		}
	}
	&__block{
		@include media-breakpoint-up(lg) {

			max-width: 665px;
		}
		max-width: 500px;
		p{
			margin-bottom: em(25);
		}
	}
	.container{
		position: relative;
		z-index: 2;
	}
	&__img-wrap{
		z-index: -1;
		position: absolute;
		@include media-breakpoint-up(md) {

			right: 10px;
			max-width:none;
		}
		max-width: 350px;
		right: -80px;
		@include media-breakpoint-up(lg) {

			top: -50px;
		}
		top: 0;
	}
	//
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}