mixin s-servises()
	// start s-servises
	+b.s-servises.section#s-servises&attributes(attributes)
		mixin slide(i ,sl, ...items)
			+e.slide.img-bg(data-slide= sl)
				img(src="#" data-lazy=`img/slide-${i}.jpg`, alt="")
				.container
					.row
						.col
							+e.text-block
								block 
								.h5 Эти услуги мы можем вам предложить
								+e.list
									+e.list-item
										a.js-link-item.active( data-slide="0") Консультация, осмотр
									+e.list-item
										a.js-link-item( data-slide="1") Узи молочной железы
									+e.list-item
										a.js-link-item( data-slide="2") Биопсия грудной железы
									+e.list-item
										a.js-link-item( data-slide="3") Консультация по грудному вскармливанию, расцеживанию, лактостазу.
									+e.list-item
										a.js-link-item( data-slide="4") Хирургическое лечение
									+e.list-item
										a.js-link-item( data-slide="5") Генетическая диагностика
						.col-sm-auto.align-self-end
							+e.caption
								each item in items
									p= item
								//- p Узи рекомендуется в возрасте от 20 лет и старше.

								//- p Позволяет детально визуализировать лимфатические узлы, изучить кровоток в груди и диагностировать кисту, липому, фиброаденому, мастит, атерому и разные виды рака.
						
								+e.btn(href='#'  data-toggle="modal" data-target="#modal-win" data-title="Записаться на осмотр и консультацию") Записаться на приём к маммологу  (360 грн)
		+e.slider--js
						
			+slide(1, '0','Если у вас нет острых симптомов, лучше посетить маммолога в период с 6 по 12 день менструального цикла.','Руки наших опытных маммологов обнаруживали крохотные новообразования в 2-3 миллиметра. Даже на УЗИ такое не увидеть.')
				.h5.text-primary Итак, лучшее, что можно сделать прямо сейчас, это

				+e.title.h3 Записаться к&nbsp;маммологу на&nbsp;осмотр и&nbsp;консультацию.
				.h5 Уверяем, вы не выйдете из кабинета доктора, пока у вас остался хотя бы один вопрос.


				
			+slide(1, '1','Узи рекомендуется в возрасте от 20 лет и старше.','Позволяет детально визуализировать лимфатические узлы, изучить кровоток в груди и диагностировать кисту, липому, фиброаденому, мастит, атерому и разные виды рака.') 
				+e.title.h3 Узи молочной железы абсолютно безопасен даже для беременных и&nbsp;кормящих женщин
				.h5 Благодаря новейшему японскому УЗИ аппарату ТОSHIВА АPLIO XG&nbsp;и&nbsp;портативному УЗИ аппарату SONOSCAPE, мы&nbsp;видим крошечные уплотнения от&nbsp;4мм. И&nbsp;пункцию делаем не&nbsp;&laquo;в&nbsp;слепую&raquo;, а&nbsp;с&nbsp;точнейшей навигацией.

				
			+slide(1, '2','Сотрудничаем с первой в Украине сертифицированной патоморфологической лабораторией CSD.','Вы можете в любой момент забрать гистологический материал и получить альтернативное мнение в любой другой лаборатории. Храним материал 3 года.')
				 
				+e.title.h3 Делаем пункционную биопсию, трепан-биосию и&nbsp;инцизионную биопсию молочной железы
				.h5 Процедура безболезненна и&nbsp;даёт высочайшее качество биоматериала благодаря уникальному оборудованию&nbsp;&mdash; итальянской биопсийной системе Biocut-M. При биопсии берут образец клеток из&nbsp;пораженного участка груди, который затем исследуеют на&nbsp;клеточном уровне.

				
			+slide(1, '3','	Расскажем, как ухаживать за грудью во время кормления, как продлить период лактации, сохранив грудь здоровой и красивой. И как безопасно прекратить кормить грудью без первобытных «перевязываний груди» и огромных доз гормонов.','Научим бороться с лактостазом и маститом.','Также проводим процедуру «расцеживания» груди') 

				+e.title.h3 Консультация по грудному вскармливанию, расцеживанию, лактостазу.
				.h5 Мы уважаем, любим и ценим кормящих мам, поэтому всегда  
					|
					|
					strong принимаем их без записи и без очереди.


				
			+slide(1, '4','Некрасивые шрамы ушли в далёкое прошлое. Сегодня при хирургическом вмешательстве применяются опыт пластической хирургии, поэтому остаётся минимум следов.') 
				+e.title.h3 Предлагаем хирургическое лечение только тогда, когда без него никак не&nbsp;обойтись
				.h5 Чаще всего мы&nbsp;удаляем только само доброкачественное новообразование. Молочная железа остаётся не&nbsp;затронутой.

				
			+slide(1, '5','Если мутация есть, то риск развивия рака груди в течение жизни увеличивается до 90%.','Но положительтый результат  — не диагноз!','Просто потребуется тщательнее следить за здоровьем, чтобы обнаружить болезнь на самых ранних стадиях — ежемесячные самообследования, регулярное посещение маммолога и гикеколога, ежегодное МРТ.','Вы будете готовы и предотвратите развитие болезни.')  
				+e.title.h3 Оцените свои риски — генетическая диагностика рака молочной железы
				.h5 Поиск мутаций в генах BRCA1 и BRCA2.

	// end s-servises