mixin s-look()
	// start s-look
	+b.s-look.section.lazy-background#s-look&attributes(attributes)
		.container
			+e.text-block
				+b.section-title
					h2 Посмотрите, эти заболевания мы лечим чаще всего. Иногда за&nbsp;1&nbsp;день.
				+e.list
					+e.list-item
						+e.link(href="#"  data-toggle="modal" data-target="#modal-diseases" data-diseases="") Внутрипротоковая папиллома
					+e.list-item
						+e.link(href="#"  data-toggle="modal" data-target="#modal-diseases" data-diseases="") Фиброаденома
					+e.list-item
						+e.link(href="#"  data-toggle="modal" data-target="#modal-diseases" data-diseases="") Киста
					+e.list-item
						+e.link(href="#"  data-toggle="modal" data-target="#modal-diseases" data-diseases="") Мастит
					+e.list-item
						+e.link(href="#"  data-toggle="modal" data-target="#modal-diseases" data-diseases="") Мастопатия
					+e.list-item
						+e.link(href="#"  data-toggle="modal" data-target="#modal-diseases" data-diseases="") Лактостаз






					+e.list-item
						+e.link(href="#"  data-toggle="modal" data-target="#modal-diseases" data-diseases="") Липома

					+e.list-item
						+e.link(href="#"  data-toggle="modal" data-target="#modal-diseases" data-diseases="") Гинекомастия у мужчин
	// end s-look