.top-line {
  font-size: 14px;
  padding-top: 25px;
  color: #ffffff;
  .row{
    // align-items: center;
    justify-content: space-between;
  }
  &__logo{
    @include media-breakpoint-up(xl) {

      width: 350px;
    }
  }
 
	&__text{
    border-left: 1px solid rgba($color: $primary, $alpha: .5);
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 230px;
    padding-left: 30px;
    color: $primary;
  }


  &__addr{
    display: flex;

    @include media-breakpoint-up(xl) {
    max-width: 230px;
  }
  max-width: 200px;
    .icon{
      @include media-breakpoint-up(xl) {

        font-size: rem(50);
      }
      font-size: rem(40);
      margin-right: 1rem;
      position: relative;
      margin-top: rem(-5);
    }
  }
  &__block{
    display: flex;
  }
  &__block-title{
    padding-right: 10px;
    margin-right: 10px;
    position: relative;
    font-size: 13px;
    &::after{
      content: '';
      position: absolute;
      top: rem(5);
      right: 0;
      width: 1px;
      height: 53px;
      background-color: #ffffff;
      opacity: 0.4;
    }
  }

  &__tel{
    font-weight: 900;
    display: inline-block;
    @include media-breakpoint-up(sm) {

      font-size: rem(22);
    }
    font-size: rem(16);
    @extend .text-white;
    margin-bottom: 2px;
    width: 170px;
    .icon{
      font-size: 17px;
      color: #ffffff;
      margin-right: 5px;
    }
  }

  &__btn{
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-white;
    color: $primary;
    // font-family: "Source Sans Pro - Semi Bold";
    font-size: 12px;
  }

// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {
  text-align: center;
}
}