mixin s-content()
	// start s-content
	+b.s-content.section.lazy-background#s-content&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 
					span.text-primary Но, несмотря на&nbsp;чудовищные риски, 
					br
					| многие женщины боятся пойти к&nbsp;маммологу. 
					br
					| Терпят боль, пытаются не&nbsp;думать о&nbsp;найденном уплотнении.

			+e.text-block
				.h5.text-primary Будьте уверены, мы сделали всё, чтобы в нашей клинике вам было психологически комфортно.

				p Для этого сохраняем правдивость и искренность во всём, что делаем. Воспринимаем пациентов в процессе лечения, как партнёров. Даём полный доступ к информации о характере заболевания, диагностике и лечении.

				p Ободрить и поддержать пациентов стараются ещё администраторы на ресепшене.  	Посмотрите, какие удивительные истории рассказывает наш администратор Антонина.  
				p Никакого запугивания! Наоборот, 38% страшных диагнозов, которые огульно и бездоказательно поставили женщинам в других клиниках, мы обоснованно опровергаем.

				p Даём рекомендации, назначаем лечение в приятной обстановке.

			+e.btn.popup-youtube(href="http://www.youtube.com/watch?v=0O2aH4XLbto") Узнать о страшных диагнозах, которых никогда не было
	// end s-content