.s-content {
	background-color: #cad8df;
	&.lazy-background{
		
		@include media-breakpoint-up(md) {
	background-image: url(../img/content-bg.jpg);
		}
		}
	@include media-breakpoint-up(lg) {
		padding-top: 80px;
		padding-bottom: 130px;
	}

	&__text-block{
		@include media-breakpoint-up(md) {

			columns: 2;
		}
		@include media-breakpoint-up(lg) {
			
			column-gap: 62px;
			margin-bottom: 75px;
		}
		margin-bottom: 35px;
		max-width: 1160px;
		p,
		.h5{
			margin-bottom: rem(30);
			line-height: 1.8;
		}
	}
	&__btn{
		@extend .btn;
		@extend .btn-primary;
		max-width: 400px;
		padding-top: 3px;
		padding-bottom: 3px;
		display: flex;
		justify-content: center;align-items: center;
		min-height: 60px;
		font-size: 1rem;
		padding-left: 30px;
		margin-top: 20px;
		@include media-breakpoint-up(sm) {
			padding-right: 10px;
			
		}
		padding-right: 40px;
		padding-left: 70px;
		position: relative;
		&::before{
			content: url(../img/video-i.png); 
			@include a-cent(y);
			left: -10px;
			margin-top: 10px;
		}
	}
	//
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {
		padding-bottom: 60px;
		br{
			display: none;
		}
	}
	@include media-breakpoint-down(sm) {
		
	}
	@include media-breakpoint-down(xs) {} 

}