mixin s-5-reasons()
	// start s-5-reasons
	+b.s-5-reasons.section#s-5-reasons&attributes(attributes)
		mixin slide(i )
			+e.slide.img-bg
				img(src="#" data-lazy=`img/slide-${i}.jpg`, alt="")
				.container
					+e.text-block
						block
						
						
						+e.btn(href='#'  data-toggle="modal" data-target="#modal-win" data-title="Записаться на приём к маммологу") Записаться на приём к маммологу  (360 грн)
		+e.slider--js
						
			+slide(1)
				.h5.text-primary И, если вам это кажется недостаточным, то

				+e.title.h3 Есть 5&nbsp;причин прямо сейчас  присоединиться к&nbsp;17&nbsp;500&nbsp;женщин, которые доверили нам своё  здоровье

				.h5 1. Специализируемся исключительно на&nbsp;болезнях молочной железы уже 33&nbsp;года

				p Внедряем в&nbsp;украинскую медицинскую практику лучшие международные методы лечения и&nbsp;диагностики заболеваний.
			+slide(1)
				//- .h5.text-primary И, если вам это кажется недостаточным, то

				+e.title.h3 Есть 5&nbsp;причин прямо сейчас  присоединиться к&nbsp;17&nbsp;500&nbsp;женщин, которые доверили нам своё  здоровье

				.h5 2. Быстро и&nbsp;точно ставим диагноз, благодаря оборудованию последнего поколения

				p 
					small Например, японский УЗИ аппарат ТОSHIВА экспертого класса помогает увидеть крошечные уплотнения от&nbsp;4-5мм. А&nbsp;c&nbsp;помощью итальянской автоматической биопсийной системы Biocut-M&nbsp;мы проводим процедуру взятия биопсии безболезненно и&nbsp;получаем высокое качество материала для гистологических исследований.
			+slide(1)
				+e.title.h3 Есть 5&nbsp;причин прямо сейчас  присоединиться к&nbsp;17&nbsp;500&nbsp;женщин, которые доверили нам своё  здоровье

				.h5 3. Оказываем весь комплекс работ по&nbsp;диагностике и&nbsp;лечению молочных желез

				p 
					small Кроме диагностического оборудования и&nbsp;возможности сдать необходимые анализы, у&nbsp;нас есть хирургический блок, где выполняются сложные операции. А&nbsp;ещё у&nbsp;нас можно проконсультироваться со&nbsp;смежными специалистами.
			+slide(1)
				+e.title.h3 Есть 5&nbsp;причин прямо сейчас  присоединиться к&nbsp;17&nbsp;500&nbsp;женщин, которые доверили нам своё  здоровье

				.h5 4. Выявляем&nbsp;99% злокачественных опухолей на&nbsp;самых ранних стадиях

				p Мы&nbsp;стремимся превратить нынешнюю&nbsp;NN% смертности от&nbsp;рака молочной железы в&nbsp;NN% выживаемости.
			+slide(1)
				.h5.text-primary И, если вам это кажется недостаточным, то

				+e.title.h3 Есть 5&nbsp;причин прямо сейчас  присоединиться к&nbsp;17&nbsp;500&nbsp;женщин, которые доверили нам своё  здоровье

				.h5 5. Экононим деньги пациентов, избавив  	их&nbsp;от&nbsp;ненужных анализов

				p Если наш врач назначает дополнительные исследования, он указывает в карте пациента 
					| 
					strong вескую причину.
					|
					| Главрач лично каждую неделю делает ревизии амбулаторных карт.
		+e.container.container
			+e.dots-wrap
			+b.slider-nav-wrap.d-none.d-md-block
				+b.slider-nav--js
					mixin nav(i,t)
						+e.slide
							+e.item
								+e.img-wrap
									img(src="" data-lazy=`img/slide-i-${i}.png`, alt="")
								+e.text= t
						// /+e.slide
					+nav('1','Узкая специализация на болезнях молочной железы')
					+nav('2','Быстрая и точная диагностика')
					+nav('3','Лечение заболеваний молочной железы в одном месте')
					+nav('4','Обнаружение рака груди на самых ранних стадиях')
					+nav('5','Защита от ненужных анализов')
	// end s-5-reasons