mixin s-contact()
	// start s-contact
	+b.s-contact#s-contact&attributes(attributes)
		.container
			+e.block
				+e.title Как до меня добраться
				+e.item
					+icon('mark')
					|  Харьков, ул. Ярослава Мудрого (Петровского), 37
				
				+e.item--tel(href="tel:0800210602")
					+icon('tel')
					|  0 800 210 602
				+e.btn(href="#" data-toggle="modal" data-target="#modal-win"  ) Записаться на прием 

		+e.map
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2564.9910193817013!2d36.232419415821596!3d49.992777828116765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0f02bcb47b9%3A0x959d0a8f035794f0!2zMTRBLCDRg9C7LiDQn9GD0YjQutC40L3RgdC60LDRjywgMTTQkCwg0KXQsNGA0YzQutC-0LIsINCl0LDRgNGM0LrQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsINCj0LrRgNCw0LjQvdCwLCA2MTAwMA!5e0!3m2!1sru!2sby!4v1550178157080" width="600" height="450"  style="border:0" allowfullscreen></iframe>
	// end s-contact